<span class="small">I certify that this minor traveller will be accompanied by an adult. If this is not the case upon departure, this traveller will be refused, and will not be able to claim any refund or indemnity.</span>
