<span class="small">Je certifie que ce voyageur mineur sera accompagné par une personne majeure. Si ce n'est pas le cas lors du départ, ce voyageur ne sera pas accepté à bord, et ne pourra réclamer aucun remboursement ou indemnité.</span>
