<p class="small">Pour nous aider à organiser les repas pendant les voyages, remplissez le formulaire suivant. Nous prendrons en compte ce que vous aurez indiqué afin d'élaborer les plats communs de la semaine.
Veuillez noter que dans le cas ou vous stipuleriez un régime Vegan, nous ne pourrons pas assurer vos repas, mais la cuisine restera à votre disposition.
Dans ce cas, la participation de 30€ au pot commun sera déduite au prix de votre voyage.</p>