<p class="small">To help us organize meals during your trip, please fill in the next form accordingly. We will take everything into account while cooking.
Please note that in the case of Vegan diets, we will not provide you meals throughout the duration of the trips, but the kitchen will still be available for your needs.
We will deduct <%= Cart::FOOD_PARTICIPATION_PRICE %>€ per vegan traveller.</p>