<p class="h3 my-auto text-center">Ce voyageur souhaite-t-il souscrire à l'<b>Assurance Voyage</b>?</p>
<p class="small my-auto text-center">Prix: <%= Cart::INSURANCE_PRICE %>€</p>
<p class="small my-auto text-center">Explication de l'assurance..</p>