<p class="h3 my-auto text-center">Would this Traveller like to subscribe to the <b>Travel Insurance</b>?</p>
<p class="small my-auto text-center">Price: <%= Cart::INSURANCE_PRICE %>€</p>
<p class="small my-auto text-center">Travel insurance quick explanation..</p>