<div class='nested-fields row no-gutters'>
  <div class="field col-9">
    <%= f.text_field :name, placeholder: "Describe your Restriction", class: "form-control rounded border" %>
  </div>
  <div class="col-3">
    <%= link_to_remove_association "Remove", f, class: "btn btn-stylised adventpro" %>
  </div>
</div>

<script>
$(function() {
  $('#food_restrictions').on('cocoon:after-insert', function() {
    check_to_hide_or_show_add_link();
  });

  $('#food_restrictions').on('cocoon:after-remove', function() {
    check_to_hide_or_show_add_link();
  });

  check_to_hide_or_show_add_link();

  function check_to_hide_or_show_add_link() {
    if ($('#food_restrictions .nested-fields').length == 3) {
      $('#food_restrictions .links').hide();
    } else {
      $('#food_restrictions .links').show();
    }
  }
})
</script>