<div class="input-group">
    <%= f.text_field :name_en, class: "nested-fields form-control", placeholder: "Enter your Food Restriction" %>
    <div class="input-group-append">
    <%= link_to_remove_association f, class: "form-control input-group-text" do %>
        <%= fa_icon "times", class: "mx-auto text-danger" %>
    <% end %>
    </div>
</div>