<div class='nested-fields row no-gutters'>
  <div class="field form-group col-11 my-1">
    <% if locale == :fr %>
      <%= f.text_field :name_fr, placeholder: "Description", class: "form-control rounded border" %>
    <% else %>
      <%= f.text_field :name_en, placeholder: "Description", class: "form-control rounded border" %>
    <% end %>
  </div>
  <div class="col-1">
    <%= link_to_remove_association f, class: "btn btn-stylised adventpro my-1" do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
</div>

<script>
$(function() {
  $('#food_restrictions_div').on('cocoon:after-insert', function() {
    check_to_hide_or_show_add_link();
  });

  $('#food_restrictions_div').on('cocoon:after-remove', function() {
    check_to_hide_or_show_add_link();
  });

  check_to_hide_or_show_add_link();
  function check_to_hide_or_show_add_link() {
    if ($('#food_restrictions_div .nested-fields').length == 3) {
      $('#food_restrictions_div .links').hide();
    } else {
      $('#food_restrictions_div .links').show();
    }
  }
});
</script>