<div class='nested-fields food_restriction_fields'>
    <div class="input-group restriction_traveller_fields mb-1">
      <%= f.select(:food_restriction_id, options_for_select(@food_restrictions_list.map{|x| [x.name, x.id]}, f.object.food_restriction_id), {prompt: t("general_forms.select")}, class:"form-control restriction_traveller_from_list mb-1 w-50") %>
      <%= link_to_add_association f, :food_restriction, id: "add_food_restriction", class: "form-control input-group-text" do %>
        <p class= "mb-0 mx-auto text-secondary">Autre</p>
      <% end %>
      <div class="input-group-append" id="food_restriction_input_group_append">
        <%= link_to_remove_association f, id:"remove_food_restriction", class: "form-control input-group-text" do %>
          <%= fa_icon "times", class: "mx-auto text-danger" %>
        <% end %>
      </div>
    </div>
</div>

<script>
$(".food_restriction_fields a.add_fields").
  data("association-insertion-position", 'before').
  data("association-insertion-node", 'this');

$("#food_restrictions_div").on('cocoon:after-insert', function(){
  check_to_hide_or_show_add_restriction();
});

$("#food_restrictions_div").on('cocoon:after-remove', function(){
  check_to_hide_or_show_add_restriction();
});

$('.restriction_traveller_fields').on('cocoon:after-insert',
    function() {
      $(this).children(".restriction_traveller_from_list").remove();
      $(this).children("a.add_fields").hide();
    });

function check_to_hide_or_show_add_restriction() {
  if ($('#food_restrictions_div .nested-fields').length == 5) {
    $("a#add_food_restrictions_association").hide();
  } else {
    $("a#add_food_restrictions_association").show();
  }
}
</script>





