<div class="traveller-info mb-3">
  <div class="card m-1 border-warning px-0 border shadow-sm" style="background:#ffe475;">
    
    <div class="card-header py-1">
      <p class="h6 my-auto"><b>Traveller #<%= traveller_index + 1 %></b></p>
    </div>

    <div class="row h-100 no-gutters my-auto">
      <div class="col-12 my-auto py-2">

        <div class="row no-gutters justify-content-center">

          <div class="col-8 p-4">
                <%= button_to "Add Information", new_traveller_path, class: "btn btn-stylised border border-warning", id: "form_traveller_#{traveller_index}", method: :get, remote: true %>
          </div> 
        
        </div>

      </div>
    </div>
    
  </div>
</div>

