<div class="card login-form promo">
    
    <div class="card-body">

      <div id="close-button">
      </div>

        <div class="">
            <%= form_with url: order_promo_code_path(order), remote: true do |f| %>

                <div class="from-group">
                    <%= f.text_field :promo_code, required: true, placeholder: "Enter Code", class: "rounded border form-control" %>
                </div>

                <div class="action mt-2">
                    <%= f.submit "Submit", class: "btn btn-stylised btn-block" %>
                </div>
            <% end %> 
        </div>

    </div>

</div>