<p>Le forfait sélectionné est un voyage en itinérance, à bord d’un bus réaménagé en auberge de jeunesse dans lequel le(s) client(s) seront transporté(s) et logé(s) pour toute la durée du séjour. Les étapes sont improvisées à bord en collaboration avec les autres voyageurs.</p>
<h3>Transport</p>
<p>Pour chaque voyage:</p>
<p>Heure approximative de récupération des voyageurs à la ville d'étape de départ: 16h30</p>
<p>Heure approximative de dépôt des voyageurs à la ville d'étape d'arrivée: 10h00</p>
<p>Les durées et lieux des arrêts (villes d'étapes) durant la semaine de voyage ne sont pas définis à l'avance, puisque les escales seront décidées sur place en collaboration avec les autres voyageurs. Il s’agit là d’un principe fondamental et typique du type de voyage proposé par l’entreprise MagicBus.</p>
<h3>Repas</h3>
<p>La participation au pot commun servant à l’achat des aliments nécessaires au petit-déjeuner ainsi qu’un repas par jour, est obligatoire et comprise dans le forfait par default, à l'exception de restrictions alimentaires très spécifiques (ex: vegan)</p>

