<div class="container-fluid top-margin">

  <% if current_user.orders.empty? %>

  <div class="container-fluid top-margin">
    <div class="card mx-auto col-lg-6 m-1 border-warning px-0 border shadow-sm" style="background:#ffe475;">
      <div class="card-header py-1">
        <p class="h1 my-auto text-center">You have no Orders</p>
      </div>
      <div class="text-center">
        <%= link_to "Book a Trip", trips_path, class: "btn btn-stylised border border-warning my-4" %>
      </div>
    </div>
  </div>

  <% else %>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="recent-orders-tab" data-toggle="tab" href="#recent-orders" role="tab" aria-controls="home" aria-selected="true">Recent Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="paid-orders-tab" data-toggle="tab" href="#paid-orders" role="tab" aria-controls="profile" aria-selected="false">Paid Orders</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="recent-orders" role="tabpanel" aria-labelledby="home-tab">
      <%= render "orders/recent_orders" %>
    </div>

    <div class="tab-pane fade" id="paid-orders" role="tabpanel" aria-labelledby="profile-tab">
      <%= render "orders/paid_orders" %>
    </div>
  </div>

  <% end %>

</div>