$('#login-form').html("<%= escape_javascript(render :partial => 'layouts/stripe_payment', :locals => {:order => @order}) %>").hide().fadeIn();

$(document).ready(function() {
    const form = document.querySelector("#payment-form")
        if (form == null) { return }

    const stripe = Stripe('<%= ENV['PUBLISHABLE_KEY'] %>');
    const elements = stripe.elements()
    
    const elementStyles = {
      base: {
        iconColor: '#666EE8',
        color: '#31325F',
        lineHeight: '40px',
        fontWeight: 400,
        fontFamily: 'Helvetica Neue',
        fontSize: '15px',

        '::placeholder': {
          color: '#CFD7E0',
        },
      },
    }

    const card = elements.create('cardNumber', {
      style: elementStyles,
    })
    card.mount('#card-number')

    const cardExpiry = elements.create('cardExpiry', {
      style: elementStyles,
    });
    cardExpiry.mount('#card-expiry');

    const cardCvc = elements.create('cardCvc', {
      style: elementStyles,
    });
    cardCvc.mount('#card-cvc');

    card.addEventListener("change", (event) => {
        var displayError = document.getElementById('card-errors')
        if (event.error) {
            displayError.textContent = event.error.message
        } else {
            displayError.textContent = ''
        }
    })

    form.addEventListener("submit", (event) => {
    event.preventDefault()
    document.querySelector(".stripe-button").disabled = true;
    document.querySelector(".stripe-button").innerHTML = '<b class="saving">Processing<span>.</span><span>.</span><span>.</span></b>';

    let data = {
      payment_method: {
        card: card,
        billing_details: {
          address: {
            city: form.querySelector("#address-city").value,
            line1: form.querySelector("#address-city").value,
            postal_code: form.querySelector("#address-zip").value,
          },
          name: form.querySelector("#name-card").value,
          email: form.querySelector("#email").value,
        },
      }
    }

    stripe.confirmCardPayment(form.dataset.paymentIntentId, data).then((result) => {
      if (result.error) {
        document.querySelector(".stripe-button").disabled = false;
        document.querySelector(".stripe-button").innerHTML = '<b><%= t("stripe_form.pay_btn") %> <%= @order.total_price %>€</b>';
        var errorElement = document.getElementById('card-errors')
        errorElement.textContent = result.error.message
        errorElement.style.display = "block"
      } else {
        form.submit()
      }
    })
  })
})