<p>Your order is saved for 24 hours, and will delete itself automatically if no paiement is made.</p>
<p>You can also delete this order in case you change your mind or want to make a new booking, instead of waiting for 24 hours.</p>