<p>Votre commande est réservée pendant une durée de 24h, et se supprimera automatiquement au si aucun paiement n'est effectué.</p>
<p>Vous pouvez aussi supprimer celle-ci afin d'en passer une autre, au lieu d'attendre 24h.</p>