<div class="container small-padding">
    <p>We will also use your email address to send you news and benefits concerning our next trips. If in any case, you would not like to receive any of the mentionned, please tick the following checkbox:</p>
</div>

<div class="container small-padding">
    <%= form_for @recent_order, :url => order_update_rgpd_validation_path(@recent_order), :html => {:method => :post}, remote: true do |f| %>
        <div class="form-check">
            <%= f.label :rgpd_validated, class:"form-check-label small" do %>
                <%= f.check_box :rgpd_validated, class:"form-check-input" %>
                    I do not wish MagicBus to contact me appart for any information concerning this booking.
                <%= link_to asset_path("/pdf/magicbus_rgpd.pdf"), target: "_blank", class: "pdf-btn" do %>
                    <p>Find out more about your data and your rights.</p>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>