<div class="row no-p-margin">
    <div class="col-lg-6 col-sm-12">
        <div class="mb-3">
            <p>The selected package is a road trip, in a bus converted into a youth hostel in which the customer(s) will be transported and accommodated for the entire duration of the stay. The stops are improvised on board in collaboration with the other travellers.</p>
        </div>
        <div class="my-3">
            <h3>Accessibility</h3>
            <p>These trips are not suitable for wheelchair users for reasons of space.</p>
            <p>Children can travel with MagicBus from their tenth birthday onwards. Minors under the age of eighteen must be accompanied on the MagicTrip by persons with parental authority.</p>
            <p>For any special request, please contact me at the following email address: hello@magicbusworld.com, we will try to find a solution together.</p>
        </div>
        <div class="my-3">
            <h3>Meals</h3>
            <p>Participation in the common pot used to purchase the food necessary for breakfast and one meal per day is mandatory and included in the default package, except for very specific dietary restrictions (e.g. vegan).</p>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="mb-3">
            <h3>Transport</h3>
            <p>For every trip:</p>
                <ul class="mb-0">
                    <li><p>Approximate time for passengers to be picked up at the departure stopover city: 4:30 pm.</p></li>
                    <li><p>Approximate time of drop off of passengers at the arrival stopover city: 10:00 am</p></li>
                </ul>
            <p>The durations and locations of stops (stopover cities) during the week of travel are not defined in advance, as stopovers will be decided on the spot in collaboration with other travellers. This is a fundamental principle of the type of travel offered by the MagicBus company.</p>     
        </div>
        <div class="mt-3">
            <h3>Luggage</h3>
            <p>Luggage allowance is limited to one piece of luggage per person with a maximum total size of 70 x 40 x 30 cm and up to 25 kg. For additional luggage (such as surfboards, skis, etc...) please contact us: <a href="mailto:hello@magicbusworld.com">hello@magicbusworld.com</a>.
        </div>
    </div>
</div>