@import "jquery-ui";
@import "bootstrap";
@import "tempusdominus-bootstrap-4";
@import "font-awesome";
@import 'cookies_eu';
@import "flag-icon";

@font-face {
    font-family: 'GiveYouGlory';
    src: font-url('GiveYouGlory.ttf');
 }

 @font-face {
    font-family: 'AnnieUseYourTelescope';
    src: font-url('AnnieUseYourTelescope.ttf');
 }

 @font-face {
    font-family: 'AdventPro';
    src: font-url('AdventPro.ttf');
 }

$cookies-eu-background-color: rgb(233, 213, 32);
$cookies-eu-border-color: rgb(233, 186, 32);
$cookies-eu-button-background-color: rgb(255, 196, 0);
$cookies-eu-button-color: #FFFFFF;
$cookies-eu-mobile: 'max-width: 767px';

.cookies-eu {
  line-height: 40px;

  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;

  padding: 0 20px;

  text-align: center;

  border-top: 1px solid $cookies-eu-border-color;
  background: $cookies-eu-background-color;

  @media ($cookies-eu-mobile) {
    font-size: 12px;
    line-height: 30px;
  }

  .cookies-eu-content-holder {
    display: inline-block;

    padding: 0 20px;
  }

  .cookies-eu-button-holder {
    display: inline-block;

    .cookies-eu-ok {
      font-size: 11px;
      font-weight: bold;
      border-radius: 0.5em;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      line-height: 20px;

      min-width: 26px;
      margin-right: 5px;
      padding: 2px 11px;

      cursor: pointer;
      text-align: center;
      white-space: nowrap;

      color: $cookies-eu-button-color;
      border: 0;
      outline: none;
      background-color: $cookies-eu-button-background-color;
    }
  }
}

.container.small-padding {
  padding: 0 5%;
}

.container.smaller-padding {
  padding: 0 10%;
}

.home-page {
    position: absolute;
    top: 0px;
    width: 100%;  
    height: 100vh;
    background-size: cover;
}

 .maintitle-container {
    width: 100%;
    top: 50%;
    margin: auto;
 }

 @media (max-width: 450px) {
    .maintitle-container {
      margin-top: 35%;
    }
 }

 .giveyouglory {
     font-family: 'GiveYouGlory'
 }

 .adventpro {
     font-family: 'AdventPro'
 }

 .annietelescope {
     font-family: 'AnnieUseYourTelescope'
 }

 .yellow {
     color: rgb(233, 213, 32)
 }

 a:hover, a:visited, a:link, a:active {
    color: white;
    text-decoration: none;
  }
  
  #navbar {
    z-index: 6;
    height: 10%;
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0));
    transition: all 1s;
  }

  @media (max-width: 991px) {
    #navbar {
      background-color: black;
    }

    .navbar-collapse {
      margin-right: -16px;
      margin-left: -16px;
      background-color: black;
    }
  }

  .navbar-brand>img {
    max-width: 200px;
  }

  .navbar .navbar-collapse {
    text-align: center;
    flex-direction: row;
  }

  #navbar.is-hidden {
    transform: translateY(-100%);
  }

  nav .navbar-nav li a{
    color: white !important;
    }


.nav-item a {
    font-size: large;
    margin: 0 15px;
    text-decoration: none;
}

.nav-item a:hover {
    color: yellow !important;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
}

#home_video {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    object-fit: cover;
    top: 0;
    z-index: -2;
   }

.image-cover {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    object-fit: cover;
    top: 0;
}

#grayfilter {
    background-color: rgba(22, 22, 22, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    object-fit: cover;
    top: 0;
    z-index: -1;
}

.mainpageblock {
  padding-top: 5%;
  width: 80%;
  font-size: 3vw;
}

.btn-stylised {
    text-align: center;
    background-color:rgb(253, 233, 48);
    color: black !important;
}

.btn-gradient {
  text-align: center;
  background: radial-gradient(circle, rgba(253,233,48,1) 0%, rgba(253,204,48,1) 100%);
  color: black !important;
  border: solid 1px;
  opacity: 1;
  transition: 0.3s;
}

.btn-gradient:hover {
  opacity: 0.9;
  border: solid 3px;
}

.btn-arrow {
  background-color : #cccccc;
  color: black !important;
}

.btn-stylised:hover{
  background-color:rgb(255, 217, 0);
}

.cart {
    color: white;
    text-align: center;
    z-index: 5;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.87);
    position: fixed;
    float: right;
    top: 12%;
    right: 2%;
    height: min-content;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    // ATTENTION NAVIGATEUR
    overflow: scroll;
    // ATTENTION
    
    max-height: 600px;
}

@media (max-width: 720px) {
  .cart {
    width: 90%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    top: auto;
  }

  .cart-stripe {
    position: static;
    width: 100%;
  }
}

#collapse-cart p {
  margin: 0;
}

.travel-cart-item {
  border: solid 1px rgb(233, 213, 32);
  border-radius: 4px;
}

#validatecart {
  bottom: 0;
  width: 100%;
}

.arrow-header {
  background-color : #cccccc;
  top: 0;
  width: 100%;
}

.container-fluid.trips {
  width: 80%;
  height: 100%;
  bottom: 0%;
  border-left: 2px solid black;
}

.circleBase {
  border-radius: 50%;
}

.type2 {
  width: 2%;
  height: 4%;
  background: #000;
  position: absolute;
  left: 9%;
}

.type2 > span {
  position: absolute;
  right: 40px;
}

.trip-content {
  margin-left: 10%;
  margin-bottom: 3%;

}

.image-container-travel {
    position: relative;
}

.trip-picture {
  max-height: 300px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}

.trip-picture-small {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.text-block-cart {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
}

.text-block-cart p {
  margin: 0;
}

.text-block-week {
    position: absolute;
    top: 5%;
    left: 5%;
    min-width: 45%;
    max-width: 90%;
    max-height: 60%;
    background-color: rgba(255, 255, 255, 0.63);
    color: black;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 0.5px;
    overflow: scroll;
}

.btn-details {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.text-block-description {
  width: 100%;
  top: 100%;
  background-color: rgb(245, 245, 245);
  padding: 5%;
}

.trip-days {
  font-weight: 200;
  font-size: 23px;
  font-family: DIN CONDENSED;
}

.trip-price {
  font-weight: 400;
  font-size: 30px;
  margin-left: 60%;
  font-family: DIN CONDENSED;
}

.btn-book {
    font-family: DIN CONDENSED;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0,0em;
    color: white;
    background-color: #1C1C1C;
    border-radius: 2px;
    width: 10%;
    height: 40px;
}

#map {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 90%;
    height: 550px;
}

#map2 {
    min-width: 250px;
    min-height: 250px;
    width: 100%;
    height: 100%;
    border: solid rgb(233, 213, 32) 2px;
}

#bus-map {
  border-radius: 0.5em;
  width: 90%;
  height: 80vh;
}

#login-form {
    position: fixed;
    top: 0;
    z-index: 6;
    display: none;
    background: rgba(51, 51, 51, 0.507);
    width: 100%;
    height: 100%;
}

.login-form {
    border-radius: 10px;
    min-width: 70%;
    max-height: 85%;
    overflow: scroll;
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.login-form.promo {
    border-radius: 10px;
    min-width: 30%;
    max-height: 85%;
    overflow: scroll;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#close-button {
    position: absolute;
    right: 25px;
    top: 20px;
    width: 25px;
    height: 25px;
    opacity: 0.3;
  }
  #close-button:hover {
    opacity: 1;
  }
  #close-button:before, #close-button:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  #close-button:before {
    transform: rotate(45deg);
  }
  #close-button:after {
    transform: rotate(-45deg);
  }
  
.background-btn-clr {
    background-color: rgb(186, 253, 120);
    transition: background-color .50s linear;

}
  
.categoryWrapper{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-transform:translate3d(0,0,0);
}

.categoryWrapper:after{
  position: absolute;
  top:0;
  left: 0;
  right:0;
  bottom: 0;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.9s ease 0s; 
}

.categoryWrapper:hover:after{
  opacity: 0.4;
}

.categoryWrapper h2{
  color:white;
  font-size: 40px;
  letter-spacing: 2px;
  -webkit-transition: all 0.15s ease 0s; 
  position: relative;
  z-index: 4;
}

.categoryWrapper:hover h2{
  transform: translateY(-10px);
  color: rgb(233, 213, 32)
}

.categoryWrapper button{
  position: absolute;
  transform: translatey(60px);
  -webkit-appearance: none;
  border: none;
  background: none;
  color:white;
  width: 250px;
  height:50px;
  font-size: 20px;
  padding: 0;
  margin: 0;
  outline: none;
  z-index: 4;
}

.categoryWrapper button span{
  display: block;
  position: relative;
  line-height: 50px;
  height: 50px;
  cursor: pointer;
}

.categoryWrapper button > span > span > span{
  transition: color 0.15s ease-out 0.3s;
  color: transparent;
}

.categoryWrapper:hover button > span > span > span{
  color:white;
}


.categoryWrapper button:hover > span > span > span:after{
  width: 100%;
}

.typing {
  color: rgb(233, 213, 32);
  font-family: "GiveYouGlory";
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
  width: 100%;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 3s steps(50, end) alternate;
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0;  }
}

button.gm-ui-hover-effect
{
    display: none !important;
}

section {
  display: flex;
  flex-direction: column;
}

.title-box {
  margin-top: 3%;
  margin-bottom: 30px;
  font-family: 'AdventPro';
  font-size: 4em;
  font-weight: 800;
  letter-spacing: 0.2em;
  line-height: 2.2em;
  text-shadow: 2px 8px 6px rgba(92, 86, 0, 0.438),
  0px -5px 35px rgba(255, 217, 0, 0.767);
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
}

#video-section {
  min-height: 80vh;
  min-width: 100vw;
  background-color: #ffd700;
}

#discover-video  {
  height: 500px;
  width: 80%;
  margin: 0 auto;
}

/* Hover effect on tiles, discover page */

.snip1577 {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 16px;
  background: rgb(233, 213, 32);
  border-radius: 0.1em;
}

.snip1577 *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1577 img {
  border-radius: 0.1em;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1577:before,
.snip1577:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: '';
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.snip1577:before {
  width: 0;
  height: 1px;
}

.snip1577:after {
  height: 0;
  width: 1px;
}

.snip1577 .figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.snip1577 h3,
.snip1577 h4 {
  margin: 0;
  font-size: 1.5em;
  font-weight: normal;
  opacity: 0;
}

.snip1577 h4 {
  font-size: 0.8em;
  text-transform: uppercase;
}

.snip1577 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1577:hover img,
.snip1577.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.snip1577:hover:before,
.snip1577.hover:before,
.snip1577:hover:after,
.snip1577.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.snip1577:hover:before,
.snip1577.hover:before {
  width: 40px;
}

.snip1577:hover:after,
.snip1577.hover:after {
  height: 40px;
}

.snip1577:hover h3,
.snip1577.hover h3,
.snip1577:hover h4,
.snip1577.hover h4 {
  opacity: 1;
}

.snip1577:hover h3,
.snip1577.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.snip1577:hover h4,
.snip1577.hover h4 {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

#alert{
  width: 100%;
  text-align: center;
  bottom: 2%;
  position:fixed;
  z-index:6;
}

.traveller-info {
  width: 100%;
  height: 10%;
  word-break: break-word;
  border-radius: 0.2em;
}

.traveller-info p {
  margin: 0;
  }

/*==================== 
	Footer 
====================== */

/* Main Footer */
footer .main-footer{	padding: 0;	background: #ffd700;}
footer ul{	padding-left: 0;	list-style: none;}

/* Copy Right Footer */
.footer-copyright {	background: #222;	padding: 1px 0;}
.footer-copyright p {	color: #969696;	margin: 0;}

/*==================== 
	Widgets 
====================== */
.widget{	padding: 20px;	margin-bottom: 20px;}
.widget.no-box{	padding: 0;	background-color: transparent;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: #816c0c;}
.widget li a:hover{	color: #ac8e2d;}
.widget-title {border-bottom: solid 1px; padding-bottom: 10px;}
.widget .badge{	float: right;	background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: rgb(0, 0, 0);}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}

ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;

}

.travel-animate {
  max-width: 70%;
  transform: translate(-3%, 0);
  filter: invert(84%) sepia(82%) saturate(1428%) hue-rotate(342deg) brightness(98%) contrast(87%);
}

.stop-flickering {
  -webkit-transform:translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
}

.story-img {
  object-fit: cover;
  height: 300px;
  width: 100%;
  margin: 5% 0;
}

.custom-file-label {
  overflow: hidden;
}

#coupon_code {
  width: 80%;
}

input[type=file][readonly] {
  pointer-events: none;
/* touch-action: none; */
}

.group-stripe {
  background: white;
  box-shadow: 0 1px 3px 0 rgba(93, 89, 49, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-bottom: 20px;
}

#payment-form label {
  color: rgb(170, 170, 136);
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
}

#payment-form .group-stripe label:not(:last-child) {
  border-bottom: 1px solid #F0F5FA;
}

#payment-form label > span {
  width: 35%;
  text-align: right;
  padding-right: 15px;
}

#payment-form .field {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #31325F;
  outline: none;
  flex: 1;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
}

#payment-form .field::placeholder {
  color: #CFD7E0;
}

.stripe-button {
  background: rgb(233, 213, 32);
  color: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 0;
  font-size: 15px;
  font-weight: 400;
  width: 50%;
  height: 40px;
  line-height: 38px;
  outline: none;
}

#payment-stripe button:focus {
  background: #555ABF;
}

#payment-stripe button:active {
  background: #43458B;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 24px;
  text-align: center;
}

.success.visible,
#card-errors.visible {
  display: inline;
}

div#card-errors {
  display: none;
}

.success {
  color: #666EE8;
}

.success .token {
  font-weight: 500;
  font-size: 13px;
}

.top-margin {
  margin-top: 10rem;
}

.navbar-nav > li > .dropdown-menu { 
  background-color: rgba(0, 0, 0, 0.76); 
  border: solid 2px black;
}

.navbar-nav > li > .dropdown-menu > a:hover { 
  background-color: rgb(0, 0, 0); 
  color: rgb(233, 213, 32)
}

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}


/* The sidebar menu */
.sidenav {
  width: 13%;
  margin-right: 2%;
  position: fixed; 
  z-index: 3;
  top: 25%; 
  right: 0;
  background-color: rgba(17, 17, 17, 0); 
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav ul {
  padding: 0;
  list-style-type: none;
}

.sidenav a {
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #000000;
  display: block;
}

.sidenav a.active {
  font-weight: 800;
}

@media (max-width: 700px) {
  .sidenav {
    display: none;
  }
}

#myTab a.nav-link {
  color: black;
}

#myTab a.nav-link.active {
  color: black;
}