<h1>What do we do ?</h1>

<p>
    <b>MagicBus is a new way of travelling!</b>
</p>

<p>
As we are travel addicts, we wanted to be able to travel by meeting amazing people (like in hostels) and being completely free about our destinations and schedule (like in van) and the closest possible of local cultures (like when hitchhike). So we created MagicBus. 
</p>

<p>
    The concept is simple: it is a school bus turned into an hostel. MagicBus will welcome 6 to 8 travelers from everywhere and make them travelling around the world. As the booking is working by weeks and not by days, those people knows where they'll be picked up and where they'll be dropped. But they are deciding together where and how long they want to stop during the week! 
</p>

<p>
    The first MagicBus is in construction in Europe. He will be on Europe's roads for summer 2019 and the booking will be available sooner. So stay aware and follow us on Facebook and Instagram !
</p>

