<h1 class="first-title">MagicBus</h1>
<h2 class="brandon-g mb-4">Qu'est-ce qu'on fait ?</h2>

<p class="font-weight-bold">
MagicBus est un nouveau moyen de voyager: insolite et authentique!
</p>

<p>
Il s’agit d’un bus aménagé en une confortable habitation dans l’esprit d’une auberge de jeunesse, qui voyage à travers l’Europe. MagicBus peut accueillir jusqu’à 8 voyageurs chaque semaine afin de leur faire vivre une expérience inédite! Au cours de cette semaine, ils cohabitent et construisent leur voyage ensemble. Ils auront également l’occasion d’aller à la rencontre des populations locales pour découvrir leurs cultures et traditions.  
</p>

<p>
MagicBus n’est pas un tour touristique, c’est une expérience unique alliant authenticité, liberté, spontanéité et expérience humaine.
</p>


