<p><span class="font-weight-bold">MagicBus permet de voyager en Europe hors des sentiers battus.</span>
Pour cela, nous créons un anti-guide de voyage exclusivement basé sur vos propres expériences de voyage. Si toi aussi tu veux ajouter ta pierre à l'édifice, c'est très simple: il te suffit de  cliquer sur la carte suivante et d’ajouter ton anecdote!</p>

<p><span class="font-weight-bold">Si tu le souhaites, tu peux aussi cocher la case "secret spot" pour que ton spot reste secret!</span>
Seules les personnes étant dans le bus au moment où l'on approche ton lieu seront au courant (c'est-à-dire seulement 8 personnes!).</p>

<div class="container-fluid text-center my-5">
    <%= button_to new_place_path, method: :get, class: "btn btn-lg btn-gradient", remote: true do %>
        <h4 class="mb-0 p-2 adventpro"><%= t("share.share_spot") %></h3>
    <% end %>
</div>


