<div class="container-fluid">
    <div class="h1 font-weight-bold">
        MagicBus est un voyage en Europe hors des sentiers battus!
    </div>

    <p>Pour cela, nous créons un guide de voyage exclusivement basé sur l'experience de voyageurs comme toi. Si toi aussi tu veux ajouter ta pierre à l'édifice, c'est très simple: tu as cliquer sur la carte suivante et ajouter ton anecdote!</p>
    <p>En plus, tu peux cocher la case "secret spot" pour que ton spot reste secret!  Seuls les personnes étant dans le bus au moment où l'on approche ton lieu seront au courant (c'est seulement 8 personnes!).</p>
    
    <div class="container-fluid text-center">
        <%= button_to t('share.share_spot'), new_place_path, method: :get, class:"btn btn-stylised", remote: true %>
    </div>
    </div>
</div>
</p>

<p>

</p>