<div class="container-fluid mx-auto">
    <div class="h1 font-weight-bold">
        MagicBus is about visiting Europe off the beaten tracks.
    </div>
    <p>That's why we are building a travel map based on your experiences.
    You can share some of your best discoveries and help us make each MagicBus trip a unique experience!</p>
    <p>You can also add a Secret Spot, which will be shown on the map but without any details.
    Only the people at MagicBus will know!</p>

    <div class="container-fluid text-center">
        <%= button_to "Share a Spot!", new_place_path, method: :get, class:"btn btn-stylised", remote: true %>
    </div>
    </div>
</div>
</p>

<p>

</p>