<p>
    <b>MagicBus is about visiting Europe off the beaten tracks.</b>
    For that, we are creating a travel book only based on travellers experiences. 
    <br>
    If you want to add your bit, it's easy: just fulfill the cases below. 
</p>

<p>
    <b> No worries, you can add your secret spot safely because it won't be reveal.</b> 
    Only people travelling in MagicBus, while we are passing by your spot, will be aware.
</p>