<div id="warning-form">
    <div class="card login-form-small text-center">

        <h1 class="card-header adventpro yellow display-5"><%= warning_title %></h1>

        <div class="card-body">

        <p><%= warning_content %></p>

        <button class="btn btn-stylised adventpro" id="delete_warning_cookie">OK</button>

        </div>
    </div>    
</div>    
